<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

	<appender name="APP" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="FILELOG.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %C{3}: %m\n" />
		</layout>
	</appender>

	<root>
		<priority value="info" />
		<appender-ref ref="APP" />
	</root>
</log4j:configuration>